/* Themes */
:root{
	--bg2: #11111b;
	--bg: #1e1e2e;
  --bg3:#181825;
	--fg: #cdd6f4;
	--fg2: #585b70;
  --fg3:#45475a;
  --subtext:#a6adc8;
  --primary:#89b4fa;
  --secondary: #a6e3a1;
}
.gruvbox{
	--bg2: #1d2021;
	--bg: #282828;
  --bg3:#32302f;
	--fg: #ebdbb2;
	--fg2: #a89984;
  --fg3:#7c6f64;
  --subtext:#7c6f64;
  --primary:#458588;
  --secondary: #b8bb26;
}
.catppuccin{
	--bg2: #11111b;
	--bg: #1e1e2e;
  --bg3:#181825;
	--fg: #cdd6f4;
	--fg2: #585b70;
  --fg3:#45475a;
  --subtext:#a6adc8;
  --primary:#89b4fa;
  --secondary: #a6e3a1;
}
.nord{
	--bg2: #2E3440;
	--bg: #434C5E;
  --bg3:#3B4252;
	--fg: #ECEFF4;
	--fg2: #E5E9F0;
  --fg3:#D8DEE9;
  --subtext:#D8DEE9;
  --primary:#81A1C1;
  --secondary: #8FBCBB;
}

.rosepine{
	--bg2: #191724;
	--bg: #232136;
  --bg3:#1f1d2e;
	--fg: #e0def4;
	--fg2: #9893a5;
  --fg3:##6e6a86;
  --subtext:#9893a5;
  --primary:#c4a7e7;
  --secondary: #eb6f92;
}
.solarized-dark{
	--bg2: #002B36;
	--bg: #073642;
  --bg3:#073642;
	--fg: #fdf6e3;
	--fg2: #eee8d5;
  --fg3:#93a1a1;
  --subtext:#93a1a1;
  --primary:#268bd2;
  --secondary: #859900;
}
.solarized-light{
	--bg2: #fdf6e3;
	--bg: #eee8d5;
  --bg3:#93a1a1;
	--fg: #002B36;
	--fg2: #073642;
  --fg3:#073642;
  --subtext:#93a1a1;
  --primary:#268bd2;
  --secondary: #859900;
}


*{
  color: var(--fg);
  margin: 0;
  padding: 0;
  font-family: "Indie Flower",serif;
  font-weight: bold;
  transition: all 0.5s ease;
}

body{
	background-color: var(--bg);
  width: 100%;
  max-width: 100vw;
}


/* Navbar  */
header{
	display: flex;
	flex-direction: flex-direction;
	justify-content: center;
	align-items: center;
	background-color: var(--bg2);
	height: 16svh;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	box-shadow: 0 0 40px 10px var(--bg2);
  z-index: 1000;
}

header a{
  padding: 2rem;
	text-decoration: none;
  transition: all 1s ease;
  font-size: 1.5rem;
}
header a:hover{
	color: var(--fg2);
}
#leftNav{
	float:left;
}
#rightNav{
	float:right;
}
#logo{
  width: 28rem;
  height: full;
}
#themeBtn{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 2rem;
  margin-right:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

#themeIcon{
  fill: var(--fg);
  transition: all 0.4s ease;
}

#themeIcon:hover{
  fill: var(--fg2);
}


/* Main Content */
#mainContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100vh;
  margin-top:2rem;
}

#countDiv{
  width: 40vw;
  height: 12rem;
  margin-top: 2.5rem;
  background-color: var(--bg2);
  border: 2px solid var(--fg3);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 3;
}
.timeContainer{
  font-size: 5rem;
  color: var(--fg);
  text-align: center;
  background-color: var(--bg);
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 1rem;
  border-radius:20px;
  border: 2px solid var(--fg3);
  width: 4rem;
  z-index: 3;
}
#randomJoke{
  margin-top: 1.5rem;
  color: var(--subtext);
  font-size: 2rem;
}
/* Santa Animation */
#movingSanta{
  position: fixed;
  right: 100%;
  top: 50%;
  bottom:0;
  transition: all 2s;
  z-index: 10;
}

/* Trees */
#tree{
  position: absolute;
  left: 4rem;
  top: 50vh;
  width: 8vw;
  height:20vh;
}

#tree2{
  position: absolute;
  right: 4rem;
  top: 50vh;
  width: 8vw;
  height:20vh;
}

/* Moving Ginger bread */
#movingGinger{
  position: absolute;
  top: 50vh;
  left:50vw;
  transition: all 2s;
  width:10rem;
}


/* Other Buttons */
#jingleBtn{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 2rem;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 100%;
  padding: 2.5rem;
  background-color: var(--bg2);
  border: 2px solid var(--fg3);
	box-shadow: 0 0 40px 10px var(--bg2);
  transition: 0.5s;
  cursor: pointer;
}

#jingleBtn:hover{
  scale: 1.2;
}
#jingleBtn:hover .st0{
  fill: var(--primary);
}

/* Snow animation */
@keyframes snow{
  0%{
    opacity:0;
  }
  75%{
    opacity:1;
  }
  100%{
    top:120svh;
    opacity:1;
  }
}
@keyframes moveSnow{
  0%{
    margin-left: 0;
  }
  25%{
    margin-left: 50px;
  }
  50%{
    margin-left: -50px;
  }
  75%{
    margin-left:50px;
  }
  100%{
    margin-left: 0;
  }
}

#flakeContainer{
  height:100vh;
  overflow: hidden;
  position:absolute;
  width: 100%;
  top:0;
  transition: opacity 0.5s;
  pointer-events: none;
}
.snow{
  animation: snow ease-in infinite, moveSnow ease-in-out infinite;
  color: #7f849c;
  position: absolute;
}

/* Other  */
.inpt{
  background-color: var(--bg);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid var(--fg3);
  margin: 1rem;
}
.inpt:focus{
  border: none;
  outline: 3px solid var(--primary);
}
#themeDiv{
  position: absolute;
  top: -50%;
  left:10px;
  background-color: var(--bg2);
  border: 2px solid var(--fg3);
  border-radius:20px;
  padding: 2rem;
  z-index: 10;
  transition: all 1s ease;
}
#themes{
  background-color: var(--bg);
  border: 2px solid var(--primary);
  border-radius:20px;
  padding:1rem;
  font-size: 1.5rem;
}

#themes option{
  font-size: 1.5rem;
}
#themeLabel{
  font-size: 2rem;
}

#hamburgerDiv{
  display: none;
  position:absolute;
  top:-75vh;
  left:0;
  width:100vw;
  height:auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--bg2);
  border-radius:20px;
  border: 2px solid var(--fg2);
  transition: all 1s ease;
}
#hamOption{
  font-size: 2rem;
}
#hamBtn{
  position: absolute;
  right:0;
  top: 0;
  height: 100%;
  margin-left: 2rem;
  margin-right:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
  display:none;
  transform: rotate(90deg);
}
#hamIcon{
  fill: var(--fg);
  transition: all 0.4s ease;
}

#hamIcon:hover{
  fill: var(--fg2);
}
.link{
  color: var(--primary);
  transition: all 0.3s ease;
}
.link:hover{
  color: var(--secondary);
}

#overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#message{
    position: absolute;
    left: 30%;
    transform: translateX(-50%); 
    margin: 0 auto; 
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border: 2px solid white;
    border-radius: 1rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 40vh;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #1e1e2e;  /* fallback for old browsers */
    overflow:scroll;
}


#confirmHeading{
  font-size:2.5rem;
  text-align:center;
}
#confirmSubtext{
  font-size:1.5rem;
  text-align:center;
  color: var(--fg2);
  text-wrap: wrap;
  margin: 1rem;
}

.btn{
  background-color: var(--primary);
  border: 2px solid var(--bg);
  border-radius: 15px;
  color: var(--bg);
  font-size: 1.7rem;
  padding: 1rem;
  padding-top : 0.5rem;
  padding-bottom : 0.5rem;
  transition: all 1s ease;
  cursor:pointer;
}

.btn:hover{
  background-color: var(--secondary);
  border: 2px solid var(--bg2);
}

